.lichsu {
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6f8;
  padding: 30px;
}

h2 {
  color: #2c3e50;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

th,
td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #3498db;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}

.lichsu a {
  display: inline-block;
  margin-top: 20px;
  color: black;
  text-decoration: none;
  border-radius: 15px;
}


